
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: black;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

 p {
  background-color: gray;
   text-align: center;
   font-family: Helvetica;
   color: white;
  }


#content {
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
#container {
  background-color: gray;
  border: 2px solid black;
  position: relative;
  width: 95%;
  height: 150px;
  margin: 15px;
  overflow: hidden;
}

#p1 {
  background-color: pink;
  font-weight: bold;
  color:black;
  border: 2px solid black;
  width: 140px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

#p2 {
  background-color: red;
  font-weight: bold;
  border: 2px solid black;
  color:black;
  width: 140px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

#p3 {
  background-color: yellow;
  font-weight: bold;
  border: 2px solid black;
  color:black;
  width: 140px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.row {
  width: 100%;
}

#box1 {
  background-color: blue;
  padding: 0;
  border: 1px solid black;
  width: 40px;
  height: 10px;
  margin-top: 50px;
  margin-left: 50px;
}

@media (min-width: 992px) {
  .col-lg-3, .col-lg-4, .col-lg-6{
  float: left;
  }
  .col-lg-3 {
    width: 33%;
  }
  .col-lg-4 {
    width: 49%
  }
  .col-lg-6 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

.col-md-3, .col-md-4,  .col-md-6 {
  float: left;
}

  .col-md-3 {
    width: 33%;
  }
  .col-md-4 {
    width: 49%
  }
  .col-md-6 {
    width: 100%;
}

 
}