
 p {
          border: 5px solid black;
          background-color: gray;
          border-radius: 50px;
          border: 4px solid black;
          width: 90%;
          height: 50px;
          margin-right: auto;
          margin-left: auto;
          font-family: Helvetica;
          color: white;
  }


@media only screen and (min-width: 767px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
  float: left;
  border: 1px solid blue;
  }
.col-lg-1 , #p5, #p6 {
    width: 8.33%;
    background-color: orange;
  }
  .col-lg-2 , #p5, #p6 {
    width: 16.66%;
    background-color: blue;
  }
  .col-lg-3, #p5, #p6 {
    width: 25%;
    background-color: black;
  }
  .col-lg-4 ,#p5, #p6 { 
    width: 33.33%;
    background-color: red;
  }
  .col-lg-5, #p5, #p6 {
    width: 41.66%;
    background-color: yellow;
  }
  .col-lg-6 ,#p5 ,#p6 { 
    width: 50%;
    background-color: green;
  }
  .col-lg-7, #p5 ,#p6 {
    width: 58.33%;
    background-color: green;
  }
  .col-lg-8 ,#p5 ,#p6 {
    width: 66.66%;
    background-color: green;
  }
  .col-lg-9 ,#p5 ,#p6 {
    width: 74.99%;
    background-color: green;
  }
  .col-lg-10 ,#p5, #p6 {
    width: 83.33%;
    background-color: green;
  }
  .col-lg-11, #p5 ,#p6 { 
    width: 91.66%;
    background-color: green;
  }
  .col-lg-12, #p5, #p6 {
    width: 100%;
    background-color: white;
  }

}




@media only screen and  (min-width: 991px) {

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left;
  border: 1px solid green;
}


.col-lg-1, #p4, #p3{
    width: 8.33%;
    background-color: orange;
  }
  .col-lg-2  #p4, #p3{
    width: 16.66%;
    background-color: blue;
  }
  .col-lg-3  #p4, #p3{
    width: 25%;
    background-color: black;
  }
  .col-lg-4  #p4, #p3{
    width: 33.33%;
    background-color: red;
  }
  .col-lg-5  #p4, #p3{
    width: 41.66%;
    background-color: yellow;
  }
  .col-lg-6  #p4, #p3{
    width: 50%;
    background-color: green;
  }
  .col-lg-7  #p4, #p3{
    width: 58.33%;
    background-color: orange;
  }
  .col-lg-8  #p4, #p3{
    width: 66.66%;
    background-color: orange;
  }
  .col-lg-9  #p4, #p3{
    width: 74.99%;
    background-color: orange;
  }
  .col-lg-10  #p4, #p3{
    width: 83.33%;
    background-color: orange;
  }
  .col-lg-11  #p4, #p3{
    width: 91.66%;
    background-color: orange;
  }
  .col-lg-12  #p4, #p3{
    width: 100%;
    background-color: white;
  }

}


@media only screen and  (max-width: 992px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
float: left;
border: 1px solid green;
}
   
  
.col-lg-1 ,#p2, #p1 {
    width: 8.33%;
    background-color: orange;
  }
  .col-lg-2 ,#p2, #p1{
    width: 16.66%;
    background-color: blue;
  }
  .col-lg-3 ,#p2, #p1{
    width: 25%;
    background-color: black;
  }
  .col-lg-4 ,#p2, #p1{
    width: 33.33%;
    background-color: red;
  }
  .col-lg-5 ,#p2, #p1{
    width: 41.66%;
    background-color: green;
  }
  .col-lg-6 ,#p2, #p1{
    width: 50%;
    background-color: yellow;
  }
  .col-lg-7 ,#p2, #p1{
    width: 58.33%;
    background-color: yellow;
  }
  .col-lg-8 ,#p2, #p1{
    width: 66.66%;
    background-color: yellow;
  }
  .col-lg-9 ,#p2, #p1{
    width: 74.99%;
    background-color: yellow;
  }
  .col-lg-10 ,#p2, #p1{
    width: 83.33%;
    background-color: yellow;
  }
  .col-lg-11 ,#p2, #p1{
    width: 91.66%;
    background-color: yellow;
  }
  .col-lg-12 ,#p2, #p1{
    width: 100%;
    background-color: white;
  }

}




.row {
  width: 100%;
}

